body.container {
    margin: 0;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 8rem 64rem 8rem;
    grid-gap: 1rem;
    grid-template-areas: "header header"
                        "side main"
                        "footer footer";
}

.el1, .el2, .el3, .el4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

header.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-area: header;
}

aside.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-area: side;
}

main.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-area: main;
}

footer.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-area: footer;
}