.container {
    margin: 20px;
    display: grid;
    height: 200px;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(10, 8rem);
}

.el1 {
    background: rgba(255, 154, 72, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 2;
    margin: 1rem;
}

.el2 {
    background: rgba(255, 0, 0, 0.5);
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 10;
    margin: 1rem;
}

.el3 {
    background: rgba(0, 128, 0, 0.5);
    grid-column-start: 4;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 10;
    margin: 1rem;
}

.el4 {
    background: rgba(0, 4, 255, 0.5);
    grid-column-start: 1;
    grid-column-end: -1;
    grid-row-start: 10;
    grid-row-end: -1;
    margin: 1rem;
}

.el1, .el2, .el3, .el4 {
    display: flex;
    justify-content: center;
    align-items: center;
}